/*Estilização página*/

.pagina{
    width: 78.7vw;
    height: 100vh;
    position: absolute;
    top:0;
    right:0;
}

.pagina header{
    font-family: arial;
}

.pagina form{
    width: 90%;
    padding: 10px;
    height: 40%;
}

.pagina div{
    width: 90%;
    height: 15%;
    padding: 10px;
}

.pagina .controles{
    width: 98.1%;
    height: 10%;
}

/*Estilização form*/

.linha{
    display: flex;
    flex-direction: column;
}

.pagina .inputs{
    width: 98%;
    height: 25%;
    padding: 1%;
}

.inputs input{
    width: 200px;
    padding: 5px;
    border: 1px #cdcdcd solid;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.inputs select{
    width: 27vh;
    height: 4.5vh;
    border-radius: 5px;
}

/*Estilização botões do controle*/

.controles{
    width: 200px;
    height: 35px;
}

.tipo{
    width: 200px;
    height: 50px;
}

.controles button{
    width: 150px;
    padding: 10px;
    color:white;
    border: 0;
    border-radius: 5px;
}

.salvar{
    background-color: green;
    transition-duration: 0.2s;
}

.salvar:hover{
    background-color: darkgreen;
    transition-duration: 0.2s;
    cursor: pointer;
}

.cancelar{
    background-color: red;
    transition-duration: 0.2s;
}

.cancelar:hover{
    background-color: rgb(211, 0, 0);
    transition-duration: 0.2s;
    cursor: pointer;
}

/*Estilização do relatório*/

.relatorio{
    width: 100px;
    height: 30%;
}

.pagina div{
    height: 25%;
}

.relatorio {
    font-family: candara;
}

.relatorio td{
    width: 150px;
    height: 50px;
    text-align: center;
}

table td{
    border-bottom: 2PX   #EEE solid;
}

.relatorio th{
    height: 40px;
    text-align: center;
}

table tH{
    border-bottom: 2px #EEE solid;
}

td button{
    background-color: red;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

td button:hover{
    background-color: rgb(218, 10, 10);
    transition-duration: 0.2s;
    cursor: pointer;
}

.coisas textarea{
    width: 50%;
    height: 200px;
    font-size: 1.2em;
    border: 1px #111 solid;
    background: transparent;
    color: #1C1C1C;
    border-radius: 5px;
    font-family: arial;
    resize: vertical;
    margin: 8px;
}

.pagina button{
    height: 2.5em;
    width: 15%;
    margin: 15px;
    font-family: candara;
    font-size: 17px;
    background:#288e28;
    border-radius: 10px;
    border:0;
}

.coisas{
    height: 80px;
}

.pagina h1{
    margin-left: 15px;
}

button:hover{
    background-color: #247f24;
    transition-duration: 0.2s;
    cursor: pointer;
}